<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="smart,python题目,mysql题目,smart论坛">
  <meta name="keywords" content="smart,python题目,mysql题目,smart论坛,程序员,部落">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> Smart </title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Smart部落</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/fcode/rules">部落规则</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="/user/home">
                蛇穴
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="/account/go_login">登录</a></li>
	        
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
<div class="row">
  <div class="col-md-3">

    <div class="list-group">
      <a href="/forum/" class="list-group-item">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          部落论坛
        </h4>
        <p class="list-group-item-text">Smarter的交流中心</p>
      </a>
    </div>

    <div class="list-group">
      <a href="/examination/index" class="list-group-item">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
          月考中心
        </h4>
        <p class="list-group-item-text">一月一考,每月送书</p>
      </a>
    </div>
    <div class="list-group">
      <a href="/download/download" class="list-group-item">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          藏经阁
        </h4>
        <p class="list-group-item-text">PDF书籍随便下</p>
      </a>
    </div>
  </div>
  <div id="container" class="col-md-6">
    <h3>最新动态</h3>
      <table class="table table-hover">
      </table>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <a href="/fcode/coinrank" class="list-group-item">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          琅琊榜
        </h4>
        <p class="list-group-item-text">看看谁更豪~</p>
      </a>
    </div>
        <div class="list-group">
      <a href="/title" class="list-group-item">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          刷题宝
        </h4>
        <p class="list-group-item-text">做题,做题,再做题!</p>
      </a>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
</div>
<div class="row">
</div>


  <div>
    <hr />
    <center><a href="/fcode/about">关于我们</a>&nbsp;|&nbsp;<a href="/fcode/contact">联系方式</a></center>
    <center>Smart部落@2015 &nbsp;&nbsp; All Copy Right Reserved  &nbsp;&nbsp;  xxxxxxx</center>
  </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<div style="display:none;">
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255270602'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255270602' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
