<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="smart,python题目,mysql题目,smart论坛">
  <meta name="keywords" content="smart,python题目,mysql题目,smart论坛,程序员,部落">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> 刷题宝 </title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}jquery/title.js">  </script>
  <script>
    	  $(
  			  function () {
  		$("#sub-val").bind("click",function() {
  			if("daf" != $('#sub-ans').val()){
				$('#tips').html(josnData.tips);
			}
  			else{
  				$.ajax({
			        type: 'GET',
			        url: '/elist/jsonData.id +1',
			        dataType: 'json',
			        timeout: 1000,
			        error: function(){
			        	alert("获取下一题失败");
			        },
			        success: function(data){
			        	$('#title').html(data.title);
			        	$("input[name='answer']").val("").focus();
		  				jsonDate = data;
			        }
			      })
			 }
		})
	}
  			  )
  </script>
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Smart部落</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/fcode/rules">部落规则</a></li>
            <li class="dropdown">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="/user/home">
                蛇穴
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="/user/logout">登出</a></li>
	        
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">主页</a></li>
      <li>刷题宝</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-ms-1 col-md-3">
    &nbsp;
  </div>
  <div class="col-ms-10 col-md-6">
    
    
    <div class="alert alert-danger" id="tips"></div>
     <input type='hidden' name='csrfmiddlewaretoken' value='' />
      <input name="problem_id" type="hidden" value="11" />
      <pre><div id="title">
      </div></pre>
      <div class="input-group">
        <span class="input-group-addon">答案</span>
        <input id="sub-ans" name="answer" type="text" class="form-control" />
      </div>
      <br />
      <br />
      <button class="btn btn-primary btn-lg btn-block" id="sub-val"  >提交</button>
    <br />
    <a href="/forum/">实在搞不懂?去论坛问问别人?</a>
    <a href="/examination/exercise/contribute/" class="pull-right">我要出题!</a>
    
  </div>
  <div class="col-ms-1 col-md-3">
    &nbsp;
  </div>
</div>

  <div>
    <hr />
    <center><a href="/fcode/about">关于我们</a>&nbsp;|&nbsp;<a href="/fcode/contact">联系方式</a></center>
    <center>Smart部落@2015 &nbsp;&nbsp; All Copy Right Reserved  &nbsp;&nbsp;  xxxxxxx</center>
  </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<div style="display:none;">
<script>

</script>
</div>
</body>
</html>
