@CHARSET "UTF-8";
  body b{
  	font-size:30px
  }
  th{
   min-width:61px;
  }
  .td-t
{
    text-align:center;
}
  .affix{
  	width:30em;
  }
  #detail{
  	height:10em;
  }
  #error {
    color: red;
}
.col-md-8{
	padding-left: 0px;
}
.container {
    padding-left: 0px;
}