{% extends "baseE.html" %}
  {% block script %}
  <script type="text/javascript" src="{{STATIC_URL}}smart/account.js">  </script>
  <style type="text/css">
  .input-group{
  	margin:5px 0px;
  }
  #uploadForm{
	border: 1px solid #ddd;
	background-color:white;
	padding:5px;
  }
#uploadedfile {
    left: -12px;
    margin-bottom: 5px;
    position: relative;
    width: 210px;
}
  </style>
  {% endblock %}

{% block content %}  

<div class="row">
	<div class="col-md-3">
		<div class="well">
			<b>基础信息</b>
			<br/>
			<br/>
			<a class="thumbnail" href="#"></a>
			<div id="change-head" >
				<form id= "uploadForm"  enctype="multipart/form-data"> 
    				<input id="uploadedfile" name="uploadedfile" type="file" class="btn btn-link"/>
    				<input type="button" value="上传" onclick="doUpload()"  class="btn btn-info"/>
    				<input type="button" value="取消" onclick="$('#change-head').hide();"  class="btn btn-info "/>
			    	<input type="hidden" name="filename" id="filename" />
    			</form>
			</div>
			<br/>
			<div id="na-e-p"></div>
			<br />
			<button class="btn btn-primary btn-lg btn-block" id="sub-val"  >更改密码</button>
			<br />
			<div id="PWch">
				<div class="input-group">
              		<span class="input-group-addon">旧密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
             		<input id="id_password" name="password" type="password" class="form-control" placeholder="请输入6~20位字符"/>
          		</div>
				<div class="input-group">
              		<span class="input-group-addon">新密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
             		<input id="id_password" name="password" type="password" class="form-control" placeholder="请输入6~20位字符"/>
          		</div>
          		<div class="input-group">
              		<span class="input-group-addon">确认密码</span>
              		<input id="id_re_password" name="re_password" type="password" class="form-control" placeholder="请输入6~20位字符"/>
          		</div>
          		<button class="btn btn-info btn-lg btn-block" id="sub-val"  >确定</button>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<table class="table table-hover">
			<caption>
				<b>参与话题</b>
			</caption>
			<thead>
				<tr>
					<th>标题</th>
					<th>参与时间</th>
				</tr>
			</thead>
			<tbody id="o-all"></tbody>
		</table>
		
		<table class="table table-hover">
			<caption>
				<b>发布的话题</b>
			</caption>
			<thead>
				<tr>
					<th>标题</th>
					<th>发布时间</th>
				</tr>
			</thead>
			<tbody id="t-all"></tbody>
		</table>
	</div>
</div>
{% endblock %} 