<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="smart,python题目,mysql题目,smart论坛">
  <meta name="keywords" content="smart,python题目,mysql题目,smart论坛,程序员,部落">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> Smart </title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}smart/baseIndex.js"></script>
  {% block script %}{% endblock %}
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Smart</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
            <a id="reallog"></a>
            </li>
            <li>
              <a  href="/account/go_account">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li>
            <a id="islog"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
 <header id="overview" class="jumbotron subhead">
	<div class="container">
		<h1>smart</h1>
		<p class="lead">smarter的交流中心，可供smarters交流学习。</p>
		<p class="lead">功能完善中，敬请期待......</p>
	</div>
</header>
 
{% block content %}{% endblock %} 

  <div>
    <hr />
    <center><a href="/"></a><a href="/"></a></center>
  </div>
</div>
<div style="display:none;">
</div>
</body>
</html>
