<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="smart,python题目,mysql题目,smart论坛">
  <meta name="keywords" content="smart,python题目,mysql题目,smart论坛,程序员,部落">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> smart </title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}jquery/login.js">  </script>
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Smart部落</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/fcode/rules">部落规则</a></li>
            <li class="dropdown">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="/user/home">
                蛇穴
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="/user/logout">登出</a></li>
	        
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
<style type="text/css">
div.topSpace {
    height: 100px;
}
</style>
<div class="container">
  <div class="row">
    
  </div>
  <div class="row">
  	<div class="col-md-3">
     &nbsp;
    </div>
  	<div class="col-md-6">
      <div class="topSpace">
        &nbsp;
      </div>
      <div class="alert alert-danger" id="tips"></div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>登录</b>
        </div>
        <div class="panel-body">
          <input type='hidden' name='csrfmiddlewaretoken' value='WXxL1hnit3PZ5a18BzHZek0Z6oHQpb5O' />
          
          <div class="input-group">
              <span class="input-group-addon">用户名</span>
              <input id="id_username" maxlength="254" name="username" type="text" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_password" name="password" type="password" class="form-control" />
          </div>
          <br />
          <button class="btn btn-primary btn-lg btn-block" id="sub-val"  >登录</button>
          <input type="hidden" name="next" value="" />
          </form>
        </div>
        <div class="panel-footer">
          <a href="/user/register">还没有账户?去注册...</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/accounts/password_reset/">忘记密码!</a>
        </div>
      </div>
    </div>
  	<div class="col-md-3">
     &nbsp;
    </div>
  </div>
</div>

  <div>
    <hr />
    <center><a href="/fcode/about">关于我们</a>&nbsp;|&nbsp;<a href="/fcode/contact">联系方式</a></center>
    <center>Smart部落@2015 &nbsp;&nbsp; All Copy Right Reserved  &nbsp;&nbsp;  xxxxxxx</center>
  </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<div style="display:none;">
<script>

</script>
</div>
</body>
</html>
