{% extends "baseB.html" %}
  {% block script %}
    <script type="text/javascript" src="/static/smart/paging.js"></script>
  <script type="text/javascript" src="/static/smart/resources.js">  </script>
  <script type="text/javascript" src="/static/jquery/ajaxfileupload.js">  </script>
  <link href="/static/css/resources.css" rel="stylesheet" type="text/css">
  {% endblock %}

{% block content %}  

<div class="row">
	<div>
    	<b>资源列表&nbsp&nbsp&nbsp&nbsp</b>
    	<input id="sub" class="btn btn-primary" type="button" onclick="$('#change-head').show();" value="文件上传">
    </div>
     <div id="change-head" style="display: block;">
	    <form id= "uploadForm"  enctype="multipart/form-data"> 
    	<input id="uploadedfile" name="uploadedfile" type="file" class="btn btn-link"/>
    	下载时所需积分：<input id="points" name="points" value=0 />
    	<input type="hidden" name="filename" id="filename" />
    	<br />
    	<br />
    	<input class="btn btn-info" type="button" onclick="doUpload()" value="确定">
		<input class="btn btn-info " type="button" onclick="$('#change-head').hide();" value="取消">
    	</form>
    </div>
    <strong id="tips" ></strong>
    <hr/>
    <div id="CMs">
      			<br />
      			<label><input type="radio" name="radio"  value="author"  id="author"/> 用户</label>
				<label><input type="radio" name="radio"  value="resourse"  id="resourse"/> 资源</label>
				<div class="input-group">
              		<span class="input-group-addon">投诉理由</span>
             		<textarea name="reason"   class="form-control" placeholder="请输入不少于10位字符" ></textarea>
          		</div>
          		<br />
          		<button class="btn btn-primary btn-lg btn-block submitT" au="" tp="" op="">确定</button>
</div>
  <div >
      <table class="table table-striped">
      	<thead>
      		<tr>
      			<th>资源</th>
      			<th class="md">消耗积分</th>
      			<th class="md">下载量</th>
      			<th class="md">下载入口</th>
      			<th class="md">此资源有令人不安的内容</th>
      		</tr>
      	</thead>
      	<tbody id="col-list">
      	</tbody>
      </table>
    </div>
    
  
<nav>
  	<ul class="pagination">
		<li><a href="#" class="ap" name="pre"><span aria-hidden="true">&laquo;</span></a></li>
  	</ul>
</nav>	
</div>
{% endblock %} 