{% extends "baseE.html" %}
  {% block script %}<script type="text/javascript" src="{{STATIC_URL}}smart/resources.js">  </script>{% endblock %}

{% block content %}  

<div class="row">
  <div class="col-md-4">
  
    <b>资源列表&nbsp&nbsp&nbsp&nbsp</b>
    <button class="btn btn-primary" id="do">上传资源</button></div>
    <br />
    <hr/>
    <br />
    <div >
      <table class="table table-striped">
      	<thead>
      		<tr>
      			<th>资源</th>
      			<th>消耗积分</th>
      			<th>下载量</th>
      			<th>下载入口</th>
      		</tr>
      	</thead>
      	<tbody id="col-list">
      	</tbody>
      </table>
    </div>
  

</div>
{% endblock %} 