{% extends "baseB.html" %}
  {% block script %}
  <script type="text/javascript" src="/static/smart/paging.js"></script>
  <script type="text/javascript" src="/static/smart/a_bbs.js">  </script>
  <script type="text/javascript" src="/static/smart/float.js"></script>
	<link href="/static/css/a_bbs.css" rel="stylesheet" type="text/css">

  {% endblock %}

{% block content %}  
<ol class="breadcrumb">
	<li>
		<a href="/">主页</a>
	</li>
	<li>
		<a href="/bbs">部落论坛</a>
	</li>
	<li  class="active">帖子</li>
</ol>

<div id="opi">
<div id="nav" class="core_title_wrap core_title_wrap_bright">
	<div class="core_title core_title_theme_bright">
		<input type="hidden" name="title-id"/>
		<h1 class="core_title_txt " name="title-topic"> </h1>
		
		<ul class="core_title_btns">
			<li>
				<button type="button" class="btn btn-danger" id="complaintT" au="" tp="" op="">
					<i class="glyphicon glyphicon-thumbs-down"></i>
					<span class="cmp"  cc="add">投诉</span>
				</button>	
			</li>
			<li>
				<a id="regular"  class="btn btn-default"  alog-alias="lzonly"  role="button">规则</a>
			</li>
			<li>
				<div class="l_lzonly" alog-alias="lzonly">
					<span id="" class="d_lzonly_bdaside">回复数：<cc></cc></span>
				</div>
			</li>
			<li>
				<a  class="l_lzonly" alog-alias="lzonly" href="javascript:scroll(0,0)">
					<span id="" class="d_lzonly_bdaside">回到顶部</span>
				</a>
			</li>
			<li>
				<a  class="l_lzonly" alog-alias="lzonly" href="#pu-opi">
					<span id="" class="d_lzonly_bdaside">回复</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<hr>
<div id="CMs">
      			<br />
      			<label><input type="radio" name="radio"  value="author"  id="author"/> 用户</label>
				<label><input type="radio" name="radio"  value="topic"  id="topic"/> 话题</label>
				<label><input type="radio" name="radio"  value="opinion" id="opinion"/> 意见</label>
				<div class="input-group">
              		<span class="input-group-addon">投诉理由</span>
             		<textarea name="reason"   class="form-control" placeholder="请输入不少于10位字符" ></textarea>
          		</div>
          		<br />
          		<button class="btn btn-primary btn-lg btn-block submitT" au="" tp="" op="">确定</button>
			</div>
<div id="RULE">
      	<br />
      	<ol>
      		<li>每增加一个回复，发布话题者增加一个积分</li>
      		<li>每则意见被引用一次，所属的用户增加一个积分</li>
      		<li>每人针对 每则意见|每位用户 | 每则话题 只能投诉一次！</li>
      		<li>当某则意见被投诉数量达到5时，该则意见被锁定，不再显示在相应话题中</li>
      		<li>当某则话题被投诉数量达到10时，该则话题被锁定，不再显示在话题列表</li>
      		<li>当某一用户被投诉（包括不同模块）的数量达到10时，该用户被锁定，不能使用Smart的主要功能</li>
      		<li>可取消对话题的投诉</li>
      		<li>可取消对意见的投诉</li>
      		<li>取消对用户的投诉请移步财富榜or投诉记录</li>
      	</ol>
</div>
<div class="p_postlist">
				<ul class="p_author">
				<li>
						<a class="p_author_face " target="_blank">
							<img id="title-imgs">
						</a>
				</li>
				<li>
					<a class="p_author_name j_user_card" target="_blank" alog-group="p_author" id="title-author"></a>
				</li>
				<br>
				<li id="title-time">
				</li>
			</ul>
			<div class="p_content">
				<pre id="title-content"></pre>
			</div>
</div>

<div id="opi-all"></div>
<nav>
  	<ul class="pagination">
		<li><a href="#" class="ap" name="pre"><span aria-hidden="true">&laquo;</span></a></li>
  	</ul>
</nav>						
<!--  -->
<div class="opi_postlist" id="pu-opi">
	<div class="d_post_content_main">
		<p>发表意见</p>
		<div class="input-group">
			<span class="input-group-addon">意见</span>
			<textarea id="detail" class="form-control" type="text" name="detail" placeholder="发表对该话题的意见，不少于10个字符。"></textarea>
		</div>
		<br/>
		<div class="alert alert-danger" id="tips"></div>
		<button id="add-val" class="btn btn-primary btn-lg btn-block">发布</button>
	</div>
</div> 

</div>		

{% endblock %} 