{% extends "baseB.html" %}
  {% block script %}
    <script type="text/javascript" src="/static/smart/paging.js"></script>
  	<script type="text/javascript" src="/static/smart/bbs.js">  </script>
  	<link href="/static/css/bbs.css" rel="stylesheet" type="text/css">
  {% endblock %}

{% block content %}  
  <div  class="col-md-8" role="main">
  <b>部落论坛&nbsp&nbsp&nbsp&nbsp </b>
<hr>
      <table class="table table-hover">
      	<thead>
      		<tr>
      			<th>标题</th>
      			<th>发布人</th>
      			<th>回复数</th>
      			<th>发表时间</th>
      			<th>最新修改时间</th>
      		</tr>
      	</thead>
      	<tbody id="col-list"></tbody>
      </table>
    <nav>
  		<ul class="pagination">
			<li><a href="#" class="ap" name="pre"><span aria-hidden="true">&laquo;</span></a></li>
  		</ul>
	</nav>
    </div>
    <div class="col-md-4" role="complementary">
	<div  class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
		<b>发布话题</b>
		<br/>
		<br/>
		<div class="input-group">
			<span class="input-group-addon">标题</span>
			<input class="form-control" type="text" name="name"  placeholder="请输入6~50位字符的描述">
		</div>
		<br/>
		<div class="input-group">
			<span class="input-group-addon">详情</span>
			<textarea id="detail" class="form-control" type="text" name="detail" placeholder="适当的补充题目，不少于10个字符"></textarea>
		</div>
		<br>
		<div id="error"></div>
		<button id="add-val" class="btn btn-primary btn-lg btn-block">发布</button>
		<br/>
		<hr/>
		<p>发布规则</p>
		<ul>
			<li>每位用户每天最多可发表5则话题</li>
			<li>用户发布的话题，每达到5则回复数奖励一定积分（自己的回帖不算在内）</li>
			<li>用户每发表一则意见，奖励相应积分</li>
			<li>默认按最新修改时间排序</li>
		</ul>
	</div>
	</div>

{% endblock %} 